# use C-a, since it's on the home row and easier to hit than C-b
set-option -g prefix C-a
unbind-key C-a
bind-key C-a send-prefix
set -g base-index 1

# set display color
set -g default-terminal "xterm-256color"
# enable terminal compability
set-option -ga terminal-overrides ",*256col*:Tc"

# mouse behavior
set -g mouse on

bind-key space next-window
bind-key bspace previous-window
bind-key enter next-layout


# set status bar
set-option -g status-position top

# default window title colors
set-window-option -g window-status-fg colour16
set-window-option -g window-status-bg default

# active window title colors
set-window-option -g window-status-current-fg colour16
set-window-option -g window-status-current-bg colour122
#set-window-option -g window-status-current-attr bright

set -g status-bg colour242
set -g status-fg white


# quick esc response
set -sg escape-time 0


# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-sidebar'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

set -g status-right '#{prefix_highlight} | %a %Y-%m-%d %H:%M'
